<div id="<%= dom_id student_info %>">
  <p>
    <strong>Rollno:</strong>
    <%= student_info.rollno %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student_info.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student_info.age %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student_info.email %>
  </p>

</div>
